* {
    margin: 0;
    padding: 0;
}


body {
    font-family: sans-serif;
    overflow-x: hidden;
}

/* Menghilangkan scrollbar default */
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #fff;
    -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #222;
}


/* navbar */
nav {
    display: flex;
    /* background-color: rgb(180, 78, 232); */
    justify-content: space-between;
    padding: 7px;
    width: 100%;
    position: fixed;
    height: 40px;
    color: #fff;
    align-items: center;
    z-index: 3;
    /* background-color: black; */
}

.bgnav {
    background-color: #567189;
    transition: all 1ms;
}

nav .logo {
    letter-spacing: 2px;
    margin-left: 5px;
    z-index: -1;
    display: flex;
}

nav .logo h4 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}

nav .logo img {
    width: 5%;
    margin-left: .5em;

}

nav ul {
    display: flex;
    list-style: none;
    width: 30%;
    justify-content: space-between;
    margin-right: 10px;
}

nav ul li a {
    color: #f4f4f4;
    text-decoration: none;
    font-size: .8em;
    /* width: 100%; */
    margin-right: 8px;
}

nav ul li a:hover {
    color: #fff;
}


.menu-toggle {
    display: none;
    flex-direction: column;
    height: 20px;
    margin-right: 13px;
    justify-content: space-between;
    position: relative;
    /* background-color: black; */
}

.menu-toggle input {
    position: absolute;
    width: 40px;
    height: 28px;
    left: -6px;
    top: -3px;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
}

.menu-toggle span {
    display: block;
    width: 28px;
    height: 3px;
    background-color: #fff;
    border-radius: 3px;
    transition: all 0.5s;
}

.menu-toggle span:nth-child(2) {
    transform-origin: 0 0;
}

.menu-toggle span:nth-child(4) {
    transform-origin: 0 100%;
}

.menu-toggle input:checked~span:nth-child(2) {
    background-color: #fff;
    transform: rotate(45deg) translate(-1px, -1px);
}

.menu-toggle input:checked~span:nth-child(4) {
    background-color: #fff;
    transform: rotate(-45deg) translate(-1px, 0);
}

.menu-toggle input:checked~span:nth-child(3) {
    opacity: 0;
    transform: scale(0);
}

/* navbar end */
.container {
    background-image: url(../../images/bgramen2.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100vh;

}

.card {
    /* background-color: blueviolet; */
    margin: auto;
    padding: 5%;
    width: 60%;
    height: 50vh;
    text-align: center;
}

.card h1 {
    color: #fff;
    font-size: 3.7em;
    font-family: cursive;
    margin-top: 1em;
}

.card p {
    color: #fff;
    margin: 7em;
}

.card a {
    text-decoration: none;
    color: #fff;
    background-color: #567189;
    border-radius: 5px;
    margin-top: 1.9em;
    padding: .5em;
}

.card a:hover {
    background-color: #fff;
    color: #222;
}


@media screen and (max-width: 768px) {
    nav ul {
        width: 50%;
    }
}


@media screen and (max-width: 576px) {
    .menu-toggle {
        display: flex;
    }

    nav .logo img {
        width: 10%;
    }

    nav .logo h4 {
        font-size: 1.2em;
    }

    nav ul {
        position: absolute;
        right: 0;
        top: 0;
        width: 70%;
        height: 100vh;
        box-sizing: border-box;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        background-color: #567189;
        z-index: -1;
        transform: translateX(100%);
        transition: all 1s;
        opacity: 0;
    }

    nav ul.slide {
        margin-right: 0;
        opacity: 1;
        transform: translateX(0);
    }

    nav ul li {
        /* background-color: wheat; */
        width: 100%;
        height: 10vh;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    nav ul li a {
        /* background-color: black; */
        font-size: 1em;
        /* padding: 50px; */
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    nav ul li a:hover {
        background-color: #6c92b3;
    }

    nav ul li a:active {
        background-color: #6c92b3;
    }

    .container {
        background-image: url(../../images/bg-ramen-mobile.jpg);
        /* background-position: right 10px; */

    }

    .card {
        height: 50vh;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-top: 90px;
        /* background-color: aqua; */
        align-items: center;
    }

    .card h1 {
        font-size: 1.5em;
        margin-top: 1em;
    }

    .card p {
        width: 100%;
        /* height: 100vh; */
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .card a {
        margin-top: 2em;
    }
}